.task-list__item {
    min-height: 40px;
    border-radius: 6px;
    background-color: rgb(18, 53, 58) ;
    border: 2px solid #b2b2b2;
    padding: 0 1em;
    display: flex;
    align-items: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    transition: background-color 0.7s;
}

.task-list__item--done {
    text-decoration: line-through;
    background-color: #161616;
}

.task-list__item-title {
    flex-grow: 1;
}

.task-list__item-icons {
    display: flex;
    column-gap: 10px;
}

.task-icon {
    color: aqua;
}