.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 2em);
    overflow: hidden;
}

.title {
    text-align: center;
}

.title__first-word {
    color: rgb(123, 86, 255);
}