.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 2em);
}

.title {
    text-align: center;
}

.title__first-word {
    color: rgb(220, 213, 85);
}